$primary-color: #444;
$secondary-color: #eece1a;
$show-home-img: true;
$home-image: url(../img/laptop.jpg);
$bg-opacity: 0.9;

@mixin ease-out {
  transition: all 0.5s ease-out;
}

@mixin background {
  @if $show-home-img {
    background: $home-image;
    background-attachment: fixed;
    background-size: cover;
  }

  &:after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($primary-color, $bg-opacity);
    z-index: -1;
  }
}

// Set text color wrt background
@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return #000;
  } @else {
    @return #fff;
  }
}

// Media query mixins
@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
