@include mediaXl {
  #work .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}

@include mediaLg {
}

@include mediaMd {
  main {
    text-align: center;
    align-items: center;
    line-height: 1;

    .lg-heading {
      margin-bottom: 40px;
      font-size: 4rem;
    }

    .sm-heading {
      margin-bottom: 20px;
    }
  }

  .menu-branding,
  .menu-nav {
    float: none;
    width: 100%;
  }

  .menu-nav {
    transform: translate(-100%, 0);
    height: 75vh;
  }

  .menu-branding {
    transform: translate(100%, 0);
    height: 25vh;

    .portrait {
      width: 150px;
      height: 150px;
    }
  }

  .about-info {
    grid-template-areas:
      "bioimage"
      "education"
      "cources"
      "interests";

    grid-template-columns: 1fr;

    .bio-image {
      margin: auto;
    }
  }

  #work .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include mediaSm {
  main {
    padding: 2rem;
  }

  h1.lg-heading {
    margin-top: 10vh;
  }

  .menu-branding .portrait {
    width: 100px;
    height: 100px;
  }

  .about-info {
    font-size: 1.2rem;
  
    .bio-image {
    width: 200px;
    height: 200px;
    margin: auto;
  }

  #work .projects {
    grid-template-columns: 1fr;
  }

  .boxes div {
    font-size: 1.2rem;
  }
}
